$color: rgba(13, 152, 186, 0.7);

.selectable-grid-tile {
  position: relative;
  grid-column-start: auto;
  grid-column-end: span 1;
  grid-row-start: auto;
  grid-row-end: span 1;
  outline: 0px solid lightgray;
  background-color: none;
  transition-duration: 0.1s;
  cursor: pointer;
  &:hover {
    //outline: 5px solid lightgray;
    background-color: $color;
  }
}
.selectable-grid-tile-color {
  position: absolute;
  background-color: $color;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.selectable-grid-tile-content {
}
