.leaflet-popup-content-wrapper {
  border-radius: 10px;

  .leaflet-popup-content {
    margin: 0;
  }
}

.w-color-compact {
  .w-color-editable-input {
    opacity: 0;
    height: 0;
    pointer-events: none;
  }
  .w-color-editable-input-rgba {
    opacity: 0;
    height: 0;
    pointer-events: none;
  }
}
